footer{
    color :#becae6; 
    background-color: #0a1352;
    height: 260px;
    font-size:138%;
    margin-bottom: 0px;
    margin-top: 20px;
    position: relative;
    bottom: 0;
    width: 100%;
}
#copy{
    font-size: 16px;
}
#icon{
    display: flex;
    justify-content: center;
    margin-left: 515px;
}
#i{
    display: flex;
    background: #dcd8d8;
    height: 55px;
    width: 61px;
    margin: -44px 15px;
    border-radius: 8px;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    margin-left:20px;
    float: right;
    box-shadow: 6px 6px 10px -1px rgb(40, 126, 155);
}